.nav-item{
  margin-right: 30px;
  font-family: 微软雅黑;
  font-size: 13px;
  color: white;
}

.nav-link:hover{
  color: Silver;
}

.nav-link{
  color: white;
}

#zhuanyelingyu_dropdown{
  width: 100%;
  /* background-color: red; */
  border: 2px solid black;
  height: 150px;
}
