<!DOCTYPE html>
<html>
  <head>
    <title>玉泽律师事务所</title>
     <meta charset="UTF-32">
  </head>
  <body>

    <img src="img/yuzelogo.png" alt="yuze.com" width="10%" height="10%">
    <h1>甘肃玉泽律师事务所</h1>
    <a href="https://www.w3schools.com">首页</a>
    <a href="https://www.w3schools.com">关于我们</a>
    <a href="https://www.w3schools.com">行业领域</a>
    <a href="https://www.w3schools.com">专业人士</a>
    <a href="https://www.w3schools.com">新闻咨询</a>
    <a href="https://www.w3schools.com">联系我们</a>


    <p></p>
    <p></p>

    <button ></button>
    <p id='paragraph1' title="I'm a tooltip">
      




    </p>
  </body>
</html>
