<!-- Three columns of text below the carousel -->
<div class="row" id='people' style="text-align: center; font-family: KaiTi">
  <div class="col-lg-4 fadeInDown wow">
    <img class="rounded-circle" src="{{ url_for('static', filename='img/simpson1.png') }}" alt="Generic placeholder image" width="140" height="140">
    <h3 style="font-weight: bold;">汪永海</h3>
    <h5>律师事务所主任</h5>
    <p>甘肃玉泽律师事务所主任，业务专长：城乡规划、国土及城市管理政策研究、房地产项目开发与经营、工程建设及相关领域法律服务。曾在政府部门法制及执法部门工作十余年，受甘肃省建设厅委托起草《甘肃省村镇规划建设管理条例》（草案）；起草《兰州市城乡规划条例》（草案）；《兰州市城市地下空间开发建设管理办法》（草案）；曾参与兰州市人大常委会及市政府法制办组织的兰州市城建、国土、房产等领域地方性配套法规、规章立法论证会百余次。先后担任过十余家房地产企业常年或专项法律顾问。在提供法律服务期间，协助多家公司进行重大项目商务谈判、处理诸多房地产项目疑难问题法律事务、审查相关业务合同文本、受托代理诉讼案件，最大限度地维护了客户的合法权益。</p>
<!--    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 fadeInDown wow">
    <img class="rounded-circle" src="{{ url_for('static', filename='img/simpson1.png') }}" alt="Generic placeholder image" width="140" height="140">
    <h3 style="font-weight: bold;">耿晓慧</h3>
    <h5>专职律师</h5>
    <p>甘肃玉泽律师事务所专职律师，涉及的业务领域主要有房地产公司日常对内对外非诉法律事务及民事、行政、刑事等诉讼业务办理等，法律基本功扎实，诉讼经验丰富。执业近10年，负责本所多家房地产及政府法律顾问的承办律师工作。在团队中负责项目所涉合同、公司股权事宜等法律文件起草与审核，处理诉讼业务。</p>
<!--    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4 fadeInDown wow">
    <img class="rounded-circle" src="{{ url_for('static', filename='img/Rick.png') }}" alt="Generic placeholder image" width="140" height="140">
    <h3 style="font-weight: bold;">王潇楠</h3>
    <h5>专职律师</h5>
    <p>甘肃玉泽律师事务所专职律师，执业近7年，法律基本功扎实，熟悉房地产、房屋征收补偿、公司、合同等专业领域的法律事务，负责多家房地产公司、造价咨询公司法律顾问的承办律师工作。在法律文书的起草、审核、法律意见的出具等方面较为专业。在团队中负责项目所涉合同、意见书等法律文件起草与审核。</p>
<!--    <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>-->
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
